# Ignorar tudo no diretório raiz e em outros diretórios
/*

# Exceto as pastas Assets e Packages
!/Assets
!/Packages/TwinnyEngine

# Ignorar arquivos temporários e específicos do Unity dentro de Assets/ e Packages/
Assets/Oculus/
Assets/Samples/
Assets/StreamingAssets/
Assets/TextMesh Pro/
Assets/ThirdParty/
Assets/TutorialInfo/
Assets/XR/



# Ignorar arquivos específicos do sistema operacional
.DS_Store
Thumbs.db
